.header {
    /* background: var(--white);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--whiteLight);
    position: relative;
    width: 100%;
}


.headerImage{
    height: 4rem;
    position: absolute;
}

.sidebar{
    display: flex;
    justify-content: left;
    margin-right: auto;
}

