.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: top 10em;
    width: 100%;
    margin: 2em 0;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 0;
    width: 50%;
    height: 100%;
    background-color: #FFC43B;
}


h2{
    text-align: center;
}